.vfu-profile .vfu-dropzone-files {
  background: #ccc;
  color: #8C8C8C;
  border: 0;
  margin: 0 auto;
  padding: 0;
  max-height: 160px;
  min-height: 160px;
  max-width: 160px;
  min-width: 160px;
}

.profile-field-profile_name.col-md-4{
  width: 100%;
}
.profile-field-profile_surname.col-md-4{
  width: 100%;
}

.notif-dropdown-menu-friends a > img{
  width:50px;margin:10px;
}

.notif-dropdown-menu-friends p > a{
  padding: 10px 0;
}