<template name="userFriends">
    <div class="panel panel-dashboard">
        <div class="panel-heading">
            <h3 class="panel-title">{{i18n 'user.userFriends'}}</h3>
        </div>
        <div class="panel-body">
            {{#each friends}}
                <div class="col-sm-2">
                    <a href="{{pathFor 'uniProfile' _id=_id}}">
                        <img class="avatar-sm" src="{{getAvatar _id}}" alt="{{getUserName .}}"/>
                    </a>
                    {{getUserName .}}
                </div>
            {{/each}}
        </div>
    </div>
</template>

<template name="userAddFriend">
    {{#unless ownProfile _id}}
        {{#if isMyFriend}}
            <button class="btn btn-danger friend-remove">Remove from friends</button>
        {{else}}
            {{#if requestSend}}
                <button class="btn btn-warning friend-request-cancel">Cancel request</button>
            {{else}}
                {{#if requestReceived}}
                    <button class="btn btn-success friend-request-accept">Accept</button>
                    <button class="btn btn-warning friend-request-reject">Cancel</button>
                {{else}}
                    <button class="btn btn-success friend-request-send">Add friend</button>
                {{/if}}
            {{/if}}
        {{/if}}
    {{/unless}}
</template>

<template name="userAddFriendMenuInProfile">
    {{#unless ownProfile _id}}
        {{#if isMyFriend}}
            <li><a href="#" class="friend-remove">Remove from friends</a></li>
        {{else}}
            <!--<li>Friend request</li>-->
            {{#if requestSend}}
                <li><a href="#" class="friend-request-cancel">Cancel request</a></li>
            {{else}}
                {{#if requestReceived}}
                    <li><a href="#" class="friend-request-accept">Accept</a></li>
                    <li><a href="#" class="friend-request-reject">Cancel</a></li>
                {{else}}
                    <li><a href="#" class="friend-request-send">Add friend</a></li>
                {{/if}}
            {{/if}}
            <li class="divider"></li>
        {{/if}}
    {{/unless}}
</template>

<template name="userAddFriendSimple">
    {{#unless ownProfile _id}}
        {{#unless isMyFriend}}
            {{#if requestSend}}
                <button class="btn btn-red btn-xs friend-request-cancel"><span class="glyphicon glyphicon-time"></span></button>
            {{else}}
                <button class="btn btn-blue btn-xs friend-request-send"><span class="glyphicon glyphicon-plus"></span></button>
            {{/if}}
        {{else}}
            <button class="btn btn-red btn-xs friend-remove"><span class="glyphicon glyphicon-minus"></span></button>
        {{/unless}}
    {{/unless}}
</template>

<template name="friendsRequestsCount">
    {{#if friendsRequestsCount}}
        <button type="button" class="btn btn-red btn-xs">
            {{friendsRequestsCount}}
        </button>
    {{/if}}
</template>

<template name="friendsRequestsListingMenu">
    <ul class="dropdown-menu notif-dropdown-menu notif-dropdown-menu-friends">
        <div class="notif-list">
            {{#if requestsList}}
                {{#each requestsList}}
                    {{> friendsRequestsListingviewMenu}}
                {{/each}}
            {{else}}
                <li class="notif-show-all">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            No invitations
                        </div>
                    </div>
                </li>
            {{/if}}
        </div>
    </ul>
</template>

<template name="friendsRequestsListingviewMenu">
    <li>
        <span class="pull-left">
            <a href="{{pathFor 'uniProfile'}}">
                {{> uniUserAvatar}}
            </a>
        </span>

        <span class="pull-right notif-buttons">
            {{> userAddFriend}}
        </span>

        <p>
            <a href="{{pathFor 'uniProfile'}}">
                {{getUserName .}}
            </a>
        </p>
    </li>
</template>

<template name="friendsOnlineListing">
    <div class="friendsOnlineHead">
        <div>ONLINE FRIENDS</div>
    </div>
    <div class="friendsOnlineBorder">
        <div class="list-group friendsOnlineListing">
            {{#each friendsOnlineList}}
                {{>friendsOnlineListingEntry}}
            {{/each}}
        </div>
    </div>
    <div class="friendsOnlineFoot"></div>
</template>

<template name="friendsOnlineListingEntry">
    <a href="#" class="list-group-item message-open-chat">
        {{#if status.online}}
            <div class="connection-circle active-state" title="En ligne"></div>
        {{else}}
            <div class="connection-circle inactive-state" title="En ligne"></div>
        {{/if}}
        {{> uniUserAvatar}}uniUserAvatar
        <span>{{getUserName .}}</span>
    </a>
</template>