<template name="uniProfile">
    <div class="col-sm-12">
        {{#with user}}
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-2 text-center">
                            <div class="row mas">
                                {{> uniProfileAvatar}}
                            </div>
                            <div class="row mas">
                                {{> uniProfileStatus}}
                            </div>
                        </div>
                        <div class="col-md-10">
                            {{> uniProfileForm}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            {{> uniProfileButtons}}
                        </div>
                    </div>
                </div>
            </div>
        {{/with}}
    </div>
</template>


<template name="uniProfileAvatar">
    <span class="vfu-profile">{{> vazcoFilesUploadDropzone files=profileAvatar classSufix='files'}}</span>
</template>

<template name="uniUserAvatar">
    {{#with userAvatar}}
        {{#if icon}}
            <img id="{{icon._id}}" src="{{icon.url store='thumbs'}}" class="uni-user-avatar{{#if className}} {{className}}{{/if}}" alt="">
            {{else}}
            <i class="fa fa-user uni-user-avatar uni-user-avatar--default{{#if className}} {{className}}{{/if}}"></i>
        {{/if}}
    {{/with}}
</template>


<template name="uniProfileStatus">
    {{#if ne currentUser._id ../_id}}
        {{#if status.online}}
            <div class="btn btn-success btn-xs">
                {{i18n 'profile.userOnline'}}
            </div>
        {{else}}
            <div class="btn btn-danger btn-xs">
                {{i18n 'profile.userOffline'}}, <br />
                <small>
                    {{i18n 'profile.lastLogin'}} ({{formatDateMoment status.lastLogin.date}})
                </small>
            </div>
        {{/if}}
    {{/if}}
</template>

<template name="uniProfileForm">
        <div class="row">
            <div class="col-md-6">
                <h3>
                    {{> uniDynamic 'uniProfileFormName'}}
                </h3>
                <h3>
                    {{> uniDynamic 'uniProfileFormSurname'}}
                </h3>
            </div>
        </div>
        <div class="row mtm">
            {{> uniDynamic 'uniProfileFormFields'}}
        </div>

</template>

<template name="uniProfileFormName">
    {{#autoForm collection="UniUsers" doc=this type="update" autosave=true id="updateUserProfileFormName"}}
        {{#with "profile.name"}}
            {{#if eq currentUser._id ../_id}}
                {{> uniDynamic 'uniProfileFieldEdit'}}
            {{else}}
                {{> uniDynamic 'uniProfileField'}}
            {{/if}}
        {{/with}}
    {{/autoForm}}
</template>

<template name="uniProfileFormSurname">
    {{#autoForm collection="UniUsers" doc=this type="update" autosave=true id="updateUserProfileFormSurname"}}
        {{#with "profile.surname"}}
            {{#if eq currentUser._id ../_id}}
                {{> uniDynamic 'uniProfileFieldEdit'}}
            {{else}}
                {{> uniDynamic 'uniProfileField'}}
            {{/if}}
        {{/with}}
    {{/autoForm}}
</template>

<template name="uniProfileFormAbout">
    {{#autoForm collection="UniUsers" doc=this type="update" autosave=true id="updateUserProfileFormAbout"}}
        {{#with "profile.about"}}
            {{#if eq currentUser._id ../_id}}
                {{> uniDynamic 'uniProfileFieldEdit'}}
            {{else}}
                {{> uniDynamic 'uniProfileField'}}
            {{/if}}
        {{/with}}
    {{/autoForm}}
</template>

<template name="uniProfileFormFields">
    {{#autoForm collection="UniUsers" doc=this type="update" autosave=true id="updateUserProfileFormFields"}}
        {{#each afFieldNames omitFields=omitUserFields}}
            {{#if eq currentUser._id ../_id}}
                {{> uniDynamic 'uniProfileFieldEdit'}}
            {{else}}
                {{> uniDynamic 'uniProfileFieldWithLabel'}}
            {{/if}}
        {{/each}}
        {{#each afFieldNames name="profile" omitFields=omitProfileFields}}
            {{#if eq currentUser._id ../_id}}
                {{> uniDynamic 'uniProfileFieldEdit'}}
            {{else}}
                {{> uniDynamic 'uniProfileFieldWithLabel'}}
            {{/if}}
        {{/each}}
    {{/autoForm}}
</template>

<template name="uniProfileFieldEdit">
    <div class="col-md-4 {{getClass this}}">
        {{#with user}}
            {{! > afQuickField name=this placeholder=getPlaceholder}}
            {{> vazcoXEditable name=.. placeholder=getPlaceholder autoSave="true" collection="UniUsers"}}
        {{/with}}
    </div>
</template>

<template name="uniProfileField">
    <div class="col-md-4 {{getClass this}}">
        {{#with user}}
            {{> afFieldInput name=.. type="contenteditable" contenteditable="false"}}
        {{/with}}
    </div>
</template>

<template name="uniProfileFieldWithLabel">
    {{#if isSetVal user this}}
        <div class="col-md-4 {{getClass this}}">
            {{> uniDynamic 'uniProfileLabel'}}

            {{#with user}}
                {{> afFieldInput name=.. type="contenteditable" contenteditable="false"}}
            {{/with}}
        </div>
    {{/if}}
</template>

<template name="uniProfileLabel">
    <strong class="{{getClass this}}">
        {{i18n this}}:
    </strong>
</template>


<template name="uniProfileButtons">
    {{#if eq currentUser._id _id}}
        <div class="user-profile-buttons-btn pull-left mrm">
            <a href="#" data-toggle="modal" data-target="#settingsModal" class="btn btn-primary btn-xs">
                <i class="fa fa-cog"></i>
                {{i18n 'profile.settings.title'}}
            </a>
        </div>

        {{> uniProfileSettings}}
    {{/if}}

    {{#if ne currentUser._id _id}}
        <div class="pull-left mrm">
            {{> userAddFriend}}
        </div>
    {{/if}}

    {{#if ne currentUser._id _id}}
        {{#if pluginChatExist}}
            <div class="pull-left mrm">
                {{> uniChatStartBtn}}
            </div>
        {{/if}}
    {{/if}}

    {{#if ne currentUser._id _id}}
        <div class="pull-left mrm">
            <a href="#" data-toggle="modal" data-target="#reportModal" class="btn btn-danger">
                <i class="fa fa-exclamation"></i>
                {{i18n 'profile.buttonReportUser'}}
            </a>
        </div>

        {{> uniProfileReport}}
    {{/if}}
</template>