<template name="uniProfileReport">
    <div class="modal fade" id="reportModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">{{i18n 'profile.report.title'}}</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="user_report_text">{{i18n 'profile.report.reason'}}: </label>
                        <textarea class="form-control" name="raport_user_reason" id="user_report_text"
                                  rows="3"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                            data-dismiss="modal">{{i18n 'profile.report.buttonClose'}}</button>
                    <button type="button"
                            class="btn btn-danger user-profile-raport-send">{{i18n 'profile.report.send'}}</button>
                </div>
            </div>
        </div>
    </div>
</template>