<template name="uniProfileSettings">
    <div class="modal fade" id="settingsModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">{{i18n 'profile.settings.title'}}</h4>
                </div>

                <div class="modal-body">
                    <div class="col-sm-8 col-sm-offset-2">
                        {{> toolsError place="profile_settings"}}
                        {{> toolsNotif place="profile_settings"}}
                        {{> toolsSuccess place="profile_settings"}}
                    </div>

                    <div role="tabpanel">

                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#changePassword" aria-controls="home" role="tab" data-toggle="tab">Change password</a></li>
                            <li role="presentation"><a href="#changeEmail" aria-controls="profile" role="tab" data-toggle="tab">Change email</a></li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="changePassword">
                                {{> uniDynamic 'uniProfileSettingsPassword'}}
                            </div>
                            <div role="tabpanel" class="tab-pane" id="changeEmail">
                                {{> uniDynamic 'uniProfileSettingsEmail'}}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="uniProfileSettingsEmail">
    <div class="row">
        <div class="col-sm-3 col-sm-offset-2 text-right">
            {{i18n 'profile.settings.defaultEmailLabel'}}:
        </div>
        <div class="col-sm-7 text-left">
            <div class="email-field">
                <strong>{{email}}</strong>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3 col-sm-offset-2 text-right">
            {{i18n 'profile.settings.emailLabel'}}:
        </div>
        <div class="col-sm-7 text-left">
            <div class="email-field other-emails">

                {{#each getOtherEmails}}
                    {{#if verified}}
                        <span class="text-success">{{address}}</span>
                        <a href="#" data-id="{{../_id}}" class="email-set-default glyphicon glyphicon-heart" title="Set as default email"></a>
                    {{else}}
                        <span class="text-warning">{{address}} (!)</span>
                    {{/if}}

                    <a href="#" data-id="{{../_id}}" class="email-remove fa fa-remove" title="Remove email"></a>

                    <br />
                {{/each}}
            </div>
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            {{#autoForm schema="addEmailForm" id="addEmailForm"}}
                {{> afQuickField name='email' type="email"}}

                <button type="button" class="btn btn-default" data-dismiss="modal">
                    {{i18n 'profile.settings.close'}}
                </button>

                <button type="submit" class="btn btn-primary btn-change-email">
                    {{i18n 'profile.settings.addEmail'}}
                </button>
            {{/autoForm}}
        </div>
    </div>

</template>

<template name="uniProfileSettingsPassword">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            {{#autoForm schema="changePassForm" id="changePassForm"}}

                {{> afQuickField name='password' type="password"}}

                {{> afQuickField name='passwordrepeat' type="password"}}

                {{> afQuickField name='passwordold' type="password"}}

                <button type="button" class="btn btn-default" data-dismiss="modal">
                    {{i18n 'profile.settings.close'}}
                </button>

                <button type="submit" class="btn btn-primary btn-change-pass">
                    {{i18n 'profile.settings.passChange'}}
                </button>

            {{/autoForm}}
        </div>
    </div>
</template>